<div class="container-fluid bg-white p-0">
  <ng-container *ngIf="recipe">
    <div class="container py-5">
      <h5 class="d-flex justify-content-between border-bottom pb-2">
        <span>{{ recipe.name }}</span>
      </h5>
      <div class="mt-3">
        <h6>Instructions:</h6>
      <small class="fst-italic">{{ recipe.instructions }}</small>
      </div>
      <div class="mt-3 col-6">
        <h6>Ingredients:</h6>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Measuring Unit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ingredient of ingredients">
                <td>{{ ingredient.name }}</td>
                <td>{{ ingredient.quantity }}</td>
                <td>{{ getMeasuringUnitLabel(ingredient.measuringUnit) }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-container>
</div>
